<div class="panel {% if item.type == 'folder' %}panel-info{% else %}panel-default{% endif %}">
    <div class="panel-heading">
    {% if item.type == 'folder' %}
    <div class="file-preview">
    <i class="fa fa-folder"></i>
        <a data-ajax-link href="{{ path('opera_admin_media_list', { source_name: selected_source.name, folder_id: item.id }) }}">
            <strong>{{ item.name }}</strong> <span class="badge">{{ item.childs|length + item.medias|length }}</span>
        </a>
    </div>
    {% else %}
        {% if item.mime starts with 'image/' %}
            <div class="file-preview" data-type="{{item.mime}}">
                <img src="{{ item.path | imagine_filter('opera_thumbnail') }}" />
            </div>
            <strong>{{ item.name }}</strong>
            <i class="fa fa-image"></i>
        {% else %}
            <strong>{{ item.name }}</strong>
            {% if item.mime starts with 'image/' %}
                
            {% elseif item.mime starts with 'audio/' %}
                <i class="fa fa-file-audio-o"></i>
            {% elseif item.mime starts with 'video/' %}
                <i class="fa fa-file-video-o"></i>
            {% elseif item.mime == "application/pdf" %}
                <i class="fa fa-file-pdf-o"></i>
            {% elseif item.mime == "text/plain" %}
                <i class="fa fa-file-text"></i>
            {% elseif item.mime == "application/zip" %}
                <i class="fa fa-file-archive-o "></i>
            {% else %}
                {{item.mime}}
            {% endif %}
        {% endif %}
    {% endif %}
    {% if item.type == 'media' and not item.mime starts with 'image/' %}
        <div class="file-preview"></div>
    {% endif %}
    </div>

    <div class="panel-body">

        <div class="btn-group" role="group" aria-label="...">
            {% if mode != 'ajax' %}
                <a data-ajax-link class="btn btn-default" href="{% if item.type == 'folder' %}
                            {{ path('opera_admin_media_folder_form', { id: item.id.toString, parentFolder: selected_folder ? selected_folder.id.tostring : null, source: selected_source.name }) }}
                            {% else %}
                            {{ path('opera_admin_media_media_form', { id: item.id.toString, parentFolder: selected_folder ? selected_folder.id.tostring : null, source: selected_source.name }) }}
                            {% endif %}
                ">
                    Edit
                </a>
            {% endif %}

            {% if mode == 'ajax' and item.type == 'media' %}
                <a class="btn btn-success select-media-button" data-select-media="{{item.id}}" data-select-media-preview="{{ item.path | imagine_filter('opera_thumbnail') }}">
                    Select
                </a>
                {% if with_formats is not defined or with_formats %}

                    {# Note: dropdown button don't work if bootstrap.js is included twice (check easy_admin.yaml added assets js and webpack config) #}
                    <div class="dropdown pull-left select-media-drop-down">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton{{ item.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ item.id }}">
                            {% if filter_sets is defined %}
                                {% for filter_set in filter_sets|keys %}
                                    <li><a class="dropdown-item" data-select-media="{{item.id}}" data-select-media-preview="{{ path('liip_imagine_filter', { path: item.path, filter: filter_set }) }}">{{ filter_set }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}

            <a data-ajax-link class="btn btn-danger" href="{% if item.type == 'folder' %}
                        {{ path('opera_admin_media_delete_folder', { id: item.id }) }}
                        {% else %}
                        {{ path('opera_admin_media_delete_media', { id: item.id }) }}
                        {% endif %}
            ">
                Delete
            </a>
        </div>
    </div>
</div>

<style>
    .panel {
        display: inline-block;
        margin: 10px;
    }
    .file-preview img {
        max-height: 80px;
    }

    .file-preview {
        min-height: 100px;
        text-align: center;
    }
    .badge {
        background-color: #337ab7;
        color: white;
    }
</style>

