<div class="panel {% if item.type == 'folder' %}panel-info{% else %}panel-default{% endif %}">
    {% if item.type == 'folder' %}
        <div class="panel-heading droppable blue-border" draggable="true" ondragend="drag_end(event)" ondragstart="dragstart_handler_folder(event)" ondrop="drop_handler(event)" ondragover="dragover_handler(event)" data-folder-id="{{item.id}}" data-folder-name="{{item.name}}" data-type="folder">
            {% include "@OperaMedia/admin/_item_folder.html.twig" %}
        </div>
    {% else %}
        <div class="panel-heading draggable blue-border" draggable="true" ondragend="drag_end(event)" ondragstart="dragstart_handler(event)" data-media-id="{{item.id}}" data-media-name="{{item.name}}" data-type="media">
            {% include "@OperaMedia/admin/_item_media.html.twig" %}
        </div>
    {% endif %}

    <div class="panel-body">

        <div aria-label="..." class="btn-group" role="group">
            {% if mode != 'ajax' %}
                <a data-ajax-link class="btn btn-default" href="{% if item.type == 'folder' %} {{ path('opera_admin_media_folder_form', { id: item.id.toString, parentFolder: selected_folder ? selected_folder.id.tostring : null, source: selected_source.name }) }} {% else %} {{ path('opera_admin_media_media_form', { id: item.id.toString, parentFolder: selected_folder ? selected_folder.id.tostring : null, source: selected_source.name }) }} {% endif %} ">
                    Edit
                </a>
            {% endif %}
            {% if mode == 'ajax' and item.type == 'media' %}
                {% if with_formats == true and filter_sets is defined %}
                    {% include "@OperaMedia/admin/_button_choose_size.html.twig" %}
                {% else %}
                    <a class="btn btn-success select-media-button" data-select-media="{{ item.id }}" data-select-media-preview="{{ item.path | imagine_filter('opera_thumbnail') }}">
                        Select
                    </a>
                {% endif %}
            {% endif %}

            <a data-ajax-link class="btn btn-danger" href="{% if item.type == 'folder' %} {{ path('opera_admin_media_delete_folder', { id: item.id }) }} {% else %} {{ path('opera_admin_media_delete_media', { id: item.id }) }} {% endif %} ">
                Delete
            </a>
        </div>
    </div>
</div>

<style>
    .panel {
        display: inline-block;
        margin: 10px;
    }
    .file-preview img {
        max-height: 80px;
    }

    .file-preview {
        min-height: 100px;
        text-align: center;
    }
    .badge {
        background-color: #337ab7;
        color: white;
    }

    .draggable {
        border-style: dashed;
    }

    /* available drag item */
    .blue-border {
        border-style: dashed;
        border-color: #337ab7;
    }

    /* available drop zone */
    .green-border {
        border-style: dashed;
        border-color: green;
    }

    /* current drag item */
    .yellow-border {
        border-style: dashed;
        border-color: yellow;
    }
</style>
