<!-- Dans le section id="main" class="content-body" -->

<div class="mediateque">
    <div class="row">
        <div class="field-group col-7">
            <fieldset>
                <legend class="with-icon">
                    <i class="fa fa-fw fa-folder"></i> Informations
                </legend>
                <div class="row">
                    <div class="col-12 ">
                        {% trans from 'OperaMedia' %}Selected Source: {% endtrans %} <u>{% if selected_source %}{{ selected_source.name }}{% else %}none{% endif %}</u>
                        <br/>
                        {% trans from 'OperaMedia' %}Current Folder: {% endtrans %} <u>{{ selected_folder ? selected_folder.name : 'root' }}</u>
                        <br/>
                        {% if selected_folder %}
                            {% trans from 'OperaMedia' %}Parent Folder: {% endtrans %}
                            <a data-ajax-link href="{{ path('opera_admin_media_list', { source_name: selected_source.name, folder_id: selected_folder.parent ? selected_folder.parent.id : null }) }}">
                                {{ (selected_folder and selected_folder.parent) ? selected_folder.parent.name : 'root' }}
                            </a>
                        {% else %}
                            {% trans from 'OperaMedia' %}Parent Folder: {% endtrans %} none
                        {% endif %}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="field-group col-5">
            <fieldset>
                <legend class="with-icon">
                    <i class="fa fa-fw fa-plus"></i> {% trans from 'OperaMedia' %}Choose Source{% endtrans %}
                </legend>

                <div class="row">
                    <div class="col-12">
                        <ul class="list-group">
                            {% for source in sources %}
                                <li class="list-group-item source-group-item {% if source.name == selected_source.name %}active{% endif %}">
                                    <a data-ajax-link href="{{ path('opera_admin_media_list', { source_name: source.name }) }}">
                                        <strong>{{ source.name }}</strong><br/>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="field-group col-7">
            <fieldset>
                <legend class="with-icon">
                    <i class="fa fa-fw fa-location-arrow"></i> Localisation
                </legend>

                <div class="row">
                    <div class="col-12">
                    {# {{selected_folder.path}} #}
                        {% if breadcrumb is defined and breadcrumb|length %}
                            <ol class="breadcrumb">
                                <a data-ajax-link href="{{ path('opera_admin_media_list', { source_name: selected_source.name, folder_id: null }) }}">
                                Root
                                </a> /
                                {% for breadcrumb_folder in breadcrumb %}
                                    {% if loop.last %}
                                        <li>
                                            {{ breadcrumb_folder.name }}
                                        </li>
                                    {% else %}
                                        <li>
                                            <a data-ajax-link href="{{ path('opera_admin_media_list', { source_name: selected_source.name, folder_id: breadcrumb_folder.id }) }}">
                                                {{ breadcrumb_folder.name }}
                                            </a>
                                        </li> /
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        {% else %}
                            <ol class="breadcrumb">
                                Root
                            </ol>
                        {% endif %}
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="field-group col-5">
            <fieldset>
                <legend class="with-icon">
                    <i class="fa fa-fw fa-plus"></i> Actions
                </legend>

                <div class="row">
                    <div class="col-12">
                        <a data-ajax-link class="btn btn-primary action-new" href="{{ path('opera_admin_media_folder_form', { parentFolder: selected_folder ? selected_folder.id.tostring : null, source: selected_source.name }) }}">
                            <i class="fa fa-plus"></i> {% trans from 'OperaMedia' %}New Folder{% endtrans %}
                        </a>
                        <a data-ajax-link class="btn btn-primary action-new" href="{{ path('opera_admin_media_media_form', { parentFolder: selected_folder ? selected_folder.id.tostring : null, source: selected_source.name }) }}">
                            <i class="fa fa-plus"></i> {% trans from 'OperaMedia' %}New Media{% endtrans %}
                        </a>
                    </div>
                </div>
            </fieldset>
        </div>

        {% if searchForm %}
        <div class="field-group col-12">
            <fieldset>
                <legend class="with-icon">
                    <i class="fa fa-fw fa-search"></i> Recherche
                </legend>
                {{ form_start(searchForm, { attr: { class: 'form-horizontal', action: path('opera_admin_media_list', { source_name: selected_source.name, folder: selected_folder ? selected_folder.id.tostring : null }) }}) }}
                    <div class="row">
                        <div class="col-3">{{ form_row(searchForm.what) }}</div>
                        <div class="col-3">{{ form_row(searchForm.where) }}</div>
                        <div class="col-3">{{ form_row(searchForm.search) }}</div>
                        <div class="col-3 col-search">
                            <button type="submit" class="btn btn-primary action-search">
                                <i class="fa fa-search"></i> {% trans from 'OperaMedia' %}Search{% endtrans %}
                            </button>
                        </div>
                    </div>
                {{ form_end(searchForm) }}
                <table class="table datagrid">
                    <thead>
                        <tr>
                            <th><a>Type</a></th>
                            <th><a>Path</a></th>
                            <th><a>Name</a></th>
                            <th><a>created At</a></th>
                            <th><a>updated At</a></th>
                            <th><a>Actions</a></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in searchResult %}
                        <tr data-id="ea11d4ce-9f1a-4019-a07a-c29f80c6997e">
                            <td>{{ item.type }}</td>
                            <td>{{ item.folderPath }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.createdAt|date("Y/m/d H:i:s") }}</td>
                            <td>{{ item.updatedAt|date("Y/m/d H:i:s") }}</td>

                            <td class="actions">
                            {% if item.type == 'folder' %}
                            <a data-ajax-link href="{{ path('opera_admin_media_list', { source_name: selected_source.name, folder_id: item.id }) }}">
                                Go to folder <strong>{{ item.name }}</strong>
                            </a>


                            <a data-ajax-link class="btn btn-default" href="{% if item.type == 'folder' %}
                                {{ path('opera_admin_media_folder_form', { id: item.id.toString, parentFolder: selected_folder ? selected_folder.id.tostring : null, source: selected_source.name }) }}
                                {% else %}
                                {{ path('opera_admin_media_media_form', { id: item.id.toString, parentFolder: selected_folder ? selected_folder.id.tostring : null, source: selected_source.name }) }}
                                {% endif %}">
                                    Edit
                            </a>
                            {% else %}


            {# todo clean ici trop gros for #}

            {% if mode != 'ajax' %}
                <a data-ajax-link class="btn btn-default" href="{% if item.type == 'folder' %}
                                {{ path('opera_admin_media_folder_form', { id: item.id.toString, parentFolder: selected_folder ? selected_folder.id.tostring : null, source: selected_source.name }) }}
                                {% else %}
                                {{ path('opera_admin_media_media_form', { id: item.id.toString, parentFolder: selected_folder ? selected_folder.id.tostring : null, source: selected_source.name }) }}
                                {% endif %}
                    ">
                        Edit
                </a>
            {% else %}
                <a class="btn btn-success select-media-button" data-select-media="{{item.id}}" data-select-media-preview="{{ item.path | imagine_filter('opera_thumbnail') }}">
                    Select
                </a>
                {% if with_formats is not defined or with_formats %}
                    <div class="dropdown pull-left select-media-drop-down">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton{{ item.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ item.id }}">
                            {% if filter_sets is defined %}
                                {% for filter_set in filter_sets|keys %}
                                    <li><a class="dropdown-item" data-select-media="{{item.id}}" data-select-media-preview="{{ path('liip_imagine_filter', { path: item.path, filter: filter_set }) }}">{{ filter_set }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}




                                {# <a name="select media" class="text-danger action-select-media"> select</a> #}
                            {% endif %}
                                {# <a name="change folder" class="action-change-folder" href="#"><i class="fa fa-arrow-right"></i> go</a> #}
                                {# <a name="select media" class="text-danger action-select-media"> select</a> #}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if not searchResult %}
                        <tr>
                            <td class="no-results" colspan="7">
                                No results
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
        </fieldset>
        </div>
        {% endif %}
        
        <div class="field-group col-12">
            <fieldset>
                <legend class="with-icon">
                    <i class="fa fa-fw fa-folder"></i><i class="fa fa-fw fa-file"></i> Contenu
                </legend>

                <div class="row">
                    <div class="col-12">
                    {% if folders is defined %}
                        {% for folder in folders %}
                        {% include "@OperaMedia/admin/_item.html.twig" with {'mode': mode|default('new'), 'item': folder } %}
                        {% endfor %}
                    {% endif %}

                    {% if pagerFantaMedia is defined %}
                        {% for media in pagerFantaMedia %}
                            {% include "@OperaMedia/admin/_item.html.twig" with {'mode': mode|default('new'), 'item': media } %}
                        {% endfor %}

                        {% if pagerFantaMedia and pagerFantaMedia.haveToPaginate %}
                        {{ pagerfanta(pagerFantaMedia, 'twitter_bootstrap4', {
                                routeName: 'opera_admin_media_list',
                                routeParams: app.request.query.all() | merge({
                                    'source_name': selected_source ? selected_source.name : null,
                                    'folder': selected_folder ? selected_folder.id.__toString : null
                                })
                        }) }}
                        {% endif %}
                        
                    {% endif %}
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
</div>

{# <script src="{{ asset('bundles/operamedia/opera_media_picker/media-picker.js') }}"></script> #}

<script>
    {% if mode == 'ajax' %}

    /**
    * set pagination link ajax
    */
        $(document).ready(function() {
            // addDataAjaxLinkToPagination
            $('.pagination a').each(function(e) {
                $(this).attr('data-ajax-link', '');
            })
        });
    {% endif %}
</script>

<style>
.list-group-item.active a {
    color: #ffffff
}
.mediateque {
    background: #f8fafc;
    padding: 18px 20px;
}
.source-group-item {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.col-search {
    text-align: center;
    line-height: 96px;
}

.col-search .action-search {
    vertical-align: middle;
}
</style>
