{% extends [
    easyadmin_config('design.templates.layout'),
    '@EasyAdmin/default/layout.html.twig'
] %}

{% block page_title -%}
    {% trans from 'OperaMedia' %}Media{% endtrans %}
{%- endblock %}

{% block content_title %}
    {% trans with { '%source%': selected_source.name } from 'OperaMedia' %}List of media for source %source%{% endtrans %}
    <a class="btn btn-primary action-new" href="{{ path('easyadmin', { action: 'new', entity: 'Folder' }) }}" >New Folder</a>
    <a class="btn btn-primary action-new" href="{{ path('easyadmin', { action: 'new', entity: 'Media' }) }}" >New Media</a>


{% endblock %}

{% block main %}
<div class="row">
    <div class="col-xs-12">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                {% for source in sources %}
                    <li class="{% if source.name == selected_source.name %}active{% endif %}">
                        <a href="{{ path('opera_admin_media_list', { source_name: source.name }) }}">
                            <strong>{{ source.name }}</strong>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        <div>

        <div class="tab-content">

            <div class="well">
                {% trans from 'OperaMedia' %}Current Folder: {% endtrans %}
                {{ selected_folder ? selected_folder.name : 'root' }}<br />

                {% if selected_folder %}
                    {% trans from 'OperaMedia' %}Parent Folder: {% endtrans %}
                    <a href="{{ path('opera_admin_media_list', { source_name: selected_source.name, folder_id: selected_folder.parent ? selected_folder.parent.id : null }) }}">
                        {{ (selected_folder and selected_folder.parent) ? selected_folder.parent.name : 'root' }}
                    </a>
                {% endif %}
            </div>

            {% for item in items %}
                <div class="panel {% if item.type == 'folder' %}panel-info{% else %}panel-default{% endif %}">
                    <div class="panel-heading">
                    {% if item.type == 'folder' %}
                        <a href="{{ path('opera_admin_media_list', { source_name: selected_source.name, folder_id: item.id }) }}">
                            <strong>{{ item.name }}</strong>
                        </a>
                        <span class="badge">{{ item.childs|length + item.medias|length }}</span>
                    {% else %}
                        <strong>{{ item.name }}</strong>
                    {% endif %}
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-default" href="{% if item.type == 'folder' %}
                                        {{ path('easyadmin', { action: 'edit', entity: 'Folder', id: item.id.toString }) }}
                                        {% else %}
                                        {{ path('easyadmin', { action: 'edit', entity: 'Media', id: item.id.toString }) }}
                                        {% endif %}
                            ">
                                Edit
                            </a>
                            <a class="btn btn-danger" href="{% if item.type == 'folder' %}
                                        {{ path('opera_admin_media_delete_folder', { id: item.id }) }}
                                        {% else %}
                                        {{ path('opera_admin_media_delete_media', { id: item.id }) }}
                                        {% endif %}
                            ">
                                Delete
                            </a>

                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
<style>
    .panel {
        display: inline-block;
        margin: 10px;
    }
</style>
{% endblock %}